
<div class = "spacing">
    <h1 style="text-align: center;"> History Of IPL</h1>
  </div>
<h3> in 2008, Rajasthan Royals Defeated Chennai Super Kings and Lifted the Title</h3>

<h3> in 2009, Deccan Chargers Defeated Royal Challengers Bangalore and Lifted the Title</h3>

<h3> in 2010, Chennai Super Kings Defeated Mumbai Indians and Lifted the Title</h3>

<h3> in 2011, Once again Chennai Super Kings Defeated  Royal Challengers Bangalore and Lifted the Title in a row</h3>

<h3> in 2012, Kolkata Knight Riders Defeated Chennai Super Kings and Lifted the Title </h3>

<h3> in 2013, Mumbai Indians  Defeated Chennai Super Kings and Lifted the Title </h3>

<h3> in 2014, Kolkata Knight Riders Defeated Punjab Kings and Lifted the Title </h3>

<h3> in 2015, Mumbai Indians  Defeated Chennai Super Kings second time and Lifted the Title </h3>

<h3> in 2016, Sunrisers Hyderbad  Defeated Royal Challengers Bangalore and Lifted the Title </h3>

<h3> in 2017, Mumbai Indians  Defeated Rising Pune Supergaints and Lifted the Title for the third time 1st team to win ipl trophy thrice</h3>

<h3> in 2018, Chennai Super Kings  Defeated Sunrisers Hyderbad and Lifted the Title for the thid time</h3>

<h3> in 2019, Mumbai Indians  Defeated Chennai Super Kings Fourth time and Lifted the Title </h3>

<h3> in 2020, Mumbai Indians  Defeated  Delhi capitals  and Lifted the Title in two consequite victory and first team to win 5 Ipl Trophies</h3>

<h3> in 2021, Chennai Super Kings Defeated Kolkata Knight Riders and lifted the trophy for the fourth time</h3>



