<!-- Page Content -->

<div class="container">

    <!-- Heading Row -->

    <div class="row align-items-center my-5">

      <div class="col-lg-7">

        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202202/Tata_IPL_0_1200x768.jpeg?4zs4ahFZBet2C7K9lw8WH0O7iWeLBgyp&size=770:433" alt="">

      </div>

      <!-- /.col-lg-8 -->

      <div class="col-lg-5">

        <h1 class="font-weight-light"> Indian Preimium League  </h1>

        <p>10 teams going to participate <br>

            After a mega Auction the players are Shuffled <br>

            Lets See which team is going to Lift the trophie <Title></Title></p>

        <a class="btn btn-primary" href="https://sports.ndtv.com/ipl-2022/ipl-2022-auction-full-list-of-players-sold-and-unsold-in-indian-premier-league-mega-auction-2764282">Explore More</a>

      </div>

      <!-- /.col-md-4 -->

    </div>

    <!-- /.row -->

    <!-- Call to Action Well -->

    <div class="card text-white bg-secondary my-5 py-4 text-center">

      <div class="card-body">

        <p class="text-white m-0" style="font-size: xx-large;">The Teams are Ready to Fight</p>

      </div>

    </div>

<!-- Content Row -->

<div class="row">

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title" > Mumbai Indians</h2>

          <p> History Making team with 5 Times Champions </p>

        </div>

        <div class="card-footer">

          <a href="https://www.mumbaiindians.com/" class="btn btn-primary btn-sm">More Info</a>

          

        </div>

      </div>

    </div>

    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title"> Chennai Super Kings </h2>
         
          <p> 4 times Champions and the defending champs</p>

        </div>

        <div class="card-footer">

          <a href="https://www.news18.com/cricketnext/news/chennai-super-kings-ipl-auction-2022-day-2-live-updates-players-list-complete-csk-squad-news-4766801.html" class="btn btn-primary btn-sm">More Info</a>
          
          
        </div>

      </div>

    </div>

    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title">Royal Challengers Bangalore</h2>
          <p> waiting for their first Victory in Ipl </p>

        </div>

        <div class="card-footer">

          <a href="https://www.royalchallengers.com/" class="btn btn-primary btn-sm">More Info</a>

        </div>

      </div>

    </div>

   <!-- /.col-md-4 -->

  </div>

  <!-- /.row -->

  <div class="card text-white my-5 py-4 text-center">

    <div class="center">

<video width="320" height="240" controls style="align-content: center;"> 

<source src="https://www.youtube.com/watch?v=kANp0BeARwQ" type="video/mp4"/>

      Your browser does not support the video tag.

</video>

</div></div>

<div class="card-body" id="youtube">

    <p class="text-white m-0" style="font-size: x-large; text-align: center;">

<a href="https://www.youtube.com/watch?v=izTczZ9_uCg"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/youtube.png" width="150px" height="150px"></a></p>

<br><h4>Check Out Our YouTube Channel for Technical Videos</h4>

</div>

<!-- /.container -->

<!-- Footer -->

<footer class="py-5 bg-dark">

    <div class="container">

    <p class="m-0 text-center text-white">© 2008-2022 - New Tata Ipl 2022. All Rights Reserved.</p>

    </div>

    <!-- /.container -->

</footer>
